@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Paytone+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Paytone+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: "Montserrat", serif;
    margin: 0px;
}
.flex{
    display: flex;
}
header{
    width: 100%;
    color: #ffffff;
    background-color: #203C86;
}
p{
    margin: 0px;
    width: auto;
    font-size: 11px;
    font-weight: 300;
}
header .seguir{
    padding: 12px;
    justify-content: flex-end;
}
header .seguir menu{
    padding-left: 53px;
    column-gap: 20px;
}
.containerhf{
    max-width: 1200px;
    margin: auto;
}
header div menu{
    margin: 0px;
}
hr{
    margin: 0px;
}
header i{
    color: #FFC82C;
}
.header2{
    padding: 12px;
    justify-content: space-between;
}
.menu2{
    column-gap: 43px;
}
header .menu2 a{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 28px;
}
header .menu2 a:hover{
    font-size: 16px;
    font-weight: 700;
    border-bottom: #FFC82C solid 4px;
    text-decoration: none;
    color: #ffffff;
}
.barras{
    display: none;
}
.container{
    margin: auto;
    max-width: 1440px;
}
.container2{
    margin: auto;
    max-width: 781px;
}
h1, h2, h3, h4{
    margin: 0px;
}
main p{
    font-family: "Lato", serif;
}
h1{
    font-size: 38px;
    font-weight: 700;
}
main{
    margin-top: 98px;
}
main h3{
    color:#2648A1;
    font-size: 21px;
    font-weight: 400;
}
main p{
    color: #3C4858;
    font-size: 21px;
    font-weight: 400;
}
.subtitulo{
    margin: 32px 0px 45px 0px;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.textoprincipal{
    margin: 69.32px 0px 76px 0px;
}
.especialistas{
    color: #2648A1;
    font-size: 14px;
    font-weight: 500;
}
main h2{
    color: #2648A1;
    font-size: 24px;
    font-weight: 700;
}
.barra{
    margin: 7px 0px 27px 0px;
    width: 100px;
    height: 4px;
    background: var(--Gradiente-Laranja, linear-gradient(90deg, #E79A30 0.27%, #E8B743 99.65%));
}
.pipa{
    width: 485px;
}
.especialidades{
    flex-direction: column;
    max-width: 623px;
    position: relative;
    margin-bottom: 266px;
}
.especialidades .imagem{
    position: absolute;
    top: 100px;
    left: 500px;
}
.d-block{display: block;
}
.card{
    border-radius: .25em;
    display: block;
    color: #2648A1;
    border: 1px solid;
    text-decoration: none;
    width: 300px;
    height: 300px;
    margin-top: 13px;
}
.card figure{
    margin: 0;
}
.card figure img{
    max-width: 100%;
    transform: scale(120%);  
    margin-bottom: 0.75em;
}
.card figure figcaption{
    padding: 1em;
    border: 1px solid #2648A1;
    border-radius: 3.09px;
}
  
.legendas div{
    font-size: 18px;
    font-weight: 700;
}
.legendas small{
    font-size: 13px;
}

.container .legendas{
    margin-top: -15px;
    padding-left: 10px;
    color: #3C4858;
}
.container{
    margin-top: 16px;
    margin-bottom:113px ;
}
footer{
    color:#E0E6ED;
    font-family: "Lato", serif;
    padding: 60px 0px 60px 0px;
    background: linear-gradient(130deg,#0D3F82 23.84%,#001736 73.02%);
}

.experience{
    width: 272px;
    flex-direction: column;
    align-items: center;
    gap: 47px;  
}
.experience ul{
    flex-direction: column;
    padding-left: 0px;
    list-style: none;
    gap:24px;
}
.experience ul li {
    column-gap: 24px;
    align-items: center;
}
.experience ul li span{
    font-size: 14px;
    font-weight: 300;
    line-height: 140%;
}
.experience ul li span:hover{
    font-weight: 700;
}
.informacoes{
    width: 496px;
    flex-direction: column;
    row-gap: 21px;
}
.informacoes div p{
    font-size: 14px;
    line-height: 140%;
}
.link{
    flex-direction: column;
    row-gap:10px;
    font-size: 14px;
    line-height: 180%;
}
.link a{
    color:#E0E6ED;
    text-decoration: none;
}
.link a:hover{
    font-weight: 900;
}
.links{
    column-gap: 24px;
}
.card2{
    max-width: 221px;
    height: 188px;
    border-radius: 6px;
    background: #FFF;
    padding: 32px 24px 32px 24px;
    flex-direction: column;
    row-gap: 37px;
    
}
.card2 h4{
    color: #1F2D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 180%
}
.card2 p{
    color: #8492A6;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; 
}
footer .containerhf{
    justify-content: space-between;
}
button{
    color: #FFFFFF;
    border: none;
    border-radius: 3.509px;
    background-color: #3A95E9;
    padding: 12px 22px;
    column-gap: 27px;
}
footer .cardtexto{
    flex-direction: column;
    row-gap: 15px;
}
@media (max-width:568px){
    header .seguir, hr, .header2 .menu2{
        display: none;
    }
    .barras{
        align-content: center;
        display: block;
    }
    .container2, .container, .containerhf{
        padding: 0px 12px;
    }
    .especialidades .coluna{
        flex-direction: column-reverse;
    }
    .especialidades{
        flex-direction: column;
        max-width: 623px;
        position: static;
        margin-bottom: 99.35px;
    }
    .especialidades .imagem{
        position: static;
        top: 0px;
        left: 0px;
        width: 100%;
        justify-content: center;
    }
    .especialidades .coluna{
        flex-direction: column-reverse;
        row-gap: 120px;
    }
    .img{
        width: 98%;
    }
    .pipa{
        max-width: 100%;
    }
    .container{
        overflow: hidden;
    }
    footer .containerhf{
        flex-direction: column;
        row-gap: 24px;
    }
    .informacoes, .card2{
        max-width: 100%;
    }
}