body{
    margin: 0px;
}
.flex{
    display: flex;
}
header{
    padding: 16px 32px 16px 32px;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB;
    background: #FFF;
}
.funcoes{
    column-gap: 16px;
}

.inscricao{
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background:#F60;
    padding: 0px 16px 0px 16px;
}
.inscricao i{
    height: 24px;
}
.inscricao:hover{
    background: #FD8535;
}
.barra_esquerda{
    width: 167px;
    height: 100%;
    border-right: 1px solid #E5E7EB;
    flex-direction: column;
    padding: 8px 24px 40px 24px;
    align-items: flex-end;
    justify-content: space-between;
}

.navegacao{
    height: 285px;
    flex-direction: column;
    justify-content: space-between;
}
main{

}
.item_menu{
    color: #0D5EAF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 120%;
    column-gap: 8px;
    align-items: center;
}
.dashboard .icon path{
    stroke: #fff;
}
.dashboard svg{
    background-color: #0D5EAF;
}
.dashboard svg:hover {
    background-color: #F2F9FD;
}
.icon:hover path{
    stroke: #0D5EAF;
}
.item_menu:hover{
    background-color: #F2F9FD;
}
.item_menu img, .icon{
    padding: 10px;
}
.menu_footer{
    padding-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.title{
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.top{
    justify-content: space-between;
    align-items: flex-start;
}
.top h1{
    color: #111827;
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin: 0px;
}
.dados{
    font-family: "Inter", sans-serif;
    column-gap: 16px;
    color: #797D84;
    align-items: center;
}
.dados div{
    column-gap: 6px;
}
.dados div span{
    font-size: 16px;
}
.dados .stroke{
    color: #1A1C20;
    font-weight: 700;
    line-height: 150%
}
.header{
    width: 850px;
    justify-content: space-between;
}
.header .editar{

}
/*.................................................................................................................*/

.cards{
    justify-content: space-between;
}
.card{
    width: 219px;
    height: 114px;
}