@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap');
body{
    font-family:Inter;
    margin:0px;
}
.flex{
    display: flex;
}
header{
    background: #C11616;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    justify-content: space-between;
    align-items: center;
}
.container{
    padding: 21px 141px 21px 141px;
}
.pading{
    padding: 96px 227px 0px 227px;
}
h6 a{
    color:#EB5151;
    font-style: #EB5151;
}
.categorias{
    justify-content: space-between;
}
.subtitulo{
    padding-top: 35px;
}
.categoria span{
    position: absolute;
    bottom: 10px;
    left: 95%;
}
.pading span{
    align-items: center;
}
section .pading{
    margin-bottom: 0px;
}
.background{
    align-items: center;
    background-color: #EFF2F7;
    padding:  8px 250px 9px 33px;
}
.background .notificacao{
    margin: 0px;
    margin-left: 32px;
    font-size: 12px;
    color: #ffffff;
    padding: 10px;
    background-image: url(img/mensagem.svg);
    background-repeat: no-repeat;
    background-position: 2px 7.5px ;
}
main section article h5{
    color:#273644;
    font-size: 21px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 0px;
}
article .a_icenter{
    color: #8D9AA6;
    font-size: 14px;
    font-weight: 300;
    line-height: 160%;
}
article .a_icenter a{
    color: #3C4B58;
}
article span .notificacao2{
    margin: 0px;
    margin-left: 32px;
    font-size: 12px;
    color: #ffffff;
    padding: 10px;
    background-image: url(img/mensagem2.svg);
    background-repeat: no-repeat;
    background-position: 3px 10px 
}
section .barra_vermelha{
    margin-top: 55px;
    padding: 0px;
    width: 81px;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(90deg, #F00 0%, rgba(255, 0, 0, 0.46) 60.12%);
}
main section h5{
    color: #707C8C;
    font-size: 21px;
    font-weight: 400;
    line-height: 160%;
}
section h3{
    margin: 8px 0px 12px 0px;
    font-size: 26px;
    font-weight: 300;
    color: #8D9AA6;

}
.galerias h3{
    color:  #EB5151;
    font-size: 26px;
    font-weight: 700;
    line-height: 160%;
}
h6{
    margin: 0px;
}
.pading span h6{
    font-size: 16px;
}
.continuar h6{
    padding: 6px 25px 6px 11px;
    background: linear-gradient(90deg, #EFF0F2 0%, rgba(249, 250, 252, 0.00) 50.31%);
}
.a_icenter{
    align-items: center;
}
menu a{
    text-transform: uppercase;
    color: #ffffff;
}
.blog{
    border-right: #ffffff solid 1px;
}

.site h3{
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    line-height: 160%;
    color: #ffffff;
}
.categoria{
    position: relative;
    border:#EB5151 1px solid;
    padding: 4px 17px 4px 17px;
}
.caveira{
    max-width: 237px;
}
.mascara{
    max-width: 219px;
}
.olinda{
    max-width: 80px;
}
.video{
    max-width: 382px;
}
.china{
    max-width: 170px;
}
div .categoria span{
    font-size: 12px;
    padding: 6px;
    background-color: #ffffff;
    background-image: url(img/elipse.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
}
.midia{
    justify-content: flex-end;
}
.midia .red{
    text-decoration: none;
    color: #E62121;
}
.ver_categoria{
    padding-top: 18px;
    padding-bottom: 90px;
    justify-content: flex-end;
}
.ver_categoria a{
    color: #8D9AA6;
}
.pesquisar{
    column-gap: 7.5px;
}
header span{
    background-color: #ffffff;
    width: 60px;
    height: 1px;
    transform: rotate(90deg);
}
.tpost{
    margin: 0px;
}
.stpost{
    margin: 0px 0px 35px 0px;
    color: var(--neutras-Gray, #8D9AA6);
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
}
.galerias{
    justify-content: center;
    column-gap: 100px;
}
.galeria{
    width: 580px;
    justify-content: space-between;
}
.titulo{
    align-items: flex-start;
    column-gap: 20px;
}
.titulo h1{
    font-size: 40px;
    margin-bottom: 0px;
}
.posts{
    justify-content: space-between;
}
.post{
    width: 260px;
    height: 240px;
    border-radius: 5px;
    border: 1px solid #EB5151;
    padding: 23px 20px 17px 20px;
    color: #EB5151;
}
.post hr{
    border-color: #EB5151;

}
.espaco{
    margin: 17px 0px 123px 0px;
    justify-content: space-between;
}
.post h6{
    margin: 20px 0px 30px 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    color: #C11616;
}
.post p{
    font-size: 14px;
}
figure{
    width: 100%;
    height: 52px;
    margin: 0px;
    background-color: #EFF2F7;
    justify-content: center;
}
footer section{
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    justify-content: space-between;
    background-color: #F9FAFC;
}
footer section div{
    flex-direction: column;

}
.blog{
    text-decoration: underline;
}
footer a{
    color: #3C4B58;
    text-decoration: none;
}
footer h3{
    color: #C11616;
    font-size: 21px;
    font-style: italic;
    line-height: 160%;
}
.barra_vermelha2{
    width: 60px;
    height: 1px;
    background:#C11616;
    margin: 23px 0px 7px 20px;
}
@media (max-width: 568px) {
    .container{
        padding: 20px 37px 20px 37px;
    }
    header .site img{
        width: 130px;
    }
    .a_icenter .pesquisar img{
        width: 18px;
    }
    header .site span,
    header .site h3,
    .a_icenter .pesquisar .linha,
    header menu a,
    main .titulo img, 
    .subtitulo p, 
    .continuar img, 
    .midia img,
    .background .data,
    .categoria span{
        display:none;
    }
    .continuar h6{
        text-decoration: underline;
        padding: 0px;
        background: none;
    }
    .galerias{
        flex-direction: column;
        row-gap: 32px;
    }
    .galeria img{
        width: 90%;
        height: auto;
    }
    .galeria{
        width: 100%;
    }
    .midia{
        justify-content: flex-start;
        text-decoration: underline;
        color: #E62121;
    }
    .container h3, .galerias h3{
        font-size: 18px;
    }
    .categoria, .galeria, article p, .stpost, .post p, .espaco a{
        font-size: 12px;
    }
    .titulo h1{
        font-size: 24px;
    }
    .pading{
        padding: 0px 24px 0px 24px;
    }
    .background{
        padding: 8px 16px 8px 16px;
    }
    .subtitulo .background h6,.subtitulo h5, .subtitulo .continuar,.ver_categoria{
        font-size: 10px;
    }
    
    
}